body {
  background-color: #CEFFFF;
}

h1, h2, p, a {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

.lily-pic {
  text-align: center;
}

.button {
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
